@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
  --color-brand-red: #8c0014;
  --color-brand-red-dark: #7a0011;
  --color-brand-black: #1d1d1d;
  --color-brand-gray-100: #f0f0f0;
  --color-brand-gray-200: #e8e8e8;
  --color-brand-gray-300: #e0e0e0;
}